{:highlights [{:id #uuid "64d9fc0c-0400-498b-82b6-218e3b6e114f",
               :page 2,
               :position {:bounding {:x1 273.79364013671875,
                                     :y1 889.3125,
                                     :x2 742.0556030273438,
                                     :y2 917.3125,
                                     :width 1550.3999999999999,
                                     :height 2006.3999999999999},
                          :rects ({:x1 273.79364013671875,
                                   :y1 889.3125,
                                   :x2 742.0556030273438,
                                   :y2 917.3125,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}),
                          :page 2},
               :content {:text "presents Snowflake design and implementation"},
               :properties {:color "yellow"}}
              {:id #uuid "64d9fc12-3def-46cd-a8e1-7aac3d03c330",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 350,
                                     :x2 749.2837524414062,
                                     :y2 977.890625,
                                     :width 1550.3999999999999,
                                     :height 2006.3999999999999},
                          :rects ({:x1 0,
                                   :y1 350,
                                   :x2 0,
                                   :y2 370,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}
                                  {:x1 136.796875,
                                   :y1 919.59375,
                                   :x2 749.2837524414062,
                                   :y2 947.59375,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}
                                  {:x1 136.796875,
                                   :y1 949.890625,
                                   :x2 257.98028564453125,
                                   :y2 977.890625,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}),
                          :page 2},
               :content {:text "along with a discussion on how recent changes in cloud infrastructure"},
               :properties {:color "yellow"}}
              {:id #uuid "64d9fc31-5299-48a1-be84-c97ea1fa7b81",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 398,
                                     :x2 745.1033935546875,
                                     :y2 1129.3125,
                                     :width 1550.3999999999999,
                                     :height 2006.3999999999999},
                          :rects ({:x1 0,
                                   :y1 398,
                                   :x2 0,
                                   :y2 418,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}
                                  {:x1 0,
                                   :y1 414,
                                   :x2 0,
                                   :y2 434,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}
                                  {:x1 0,
                                   :y1 430,
                                   :x2 0,
                                   :y2 450,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}
                                  {:x1 487.28521728515625,
                                   :y1 1010.453125,
                                   :x2 745.1033935546875,
                                   :y2 1038.453125,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}
                                  {:x1 136.15625,
                                   :y1 1040.75,
                                   :x2 745.09619140625,
                                   :y2 1068.75,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}
                                  {:x1 136.796875,
                                   :y1 1071.03125,
                                   :x2 745.1016235351562,
                                   :y2 1099.03125,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}
                                  {:x1 136.796875,
                                   :y1 1101.3125,
                                   :x2 543.377197265625,
                                   :y2 1129.3125,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}),
                          :page 2},
               :content {:text "Using data collected from various components of our system during execution of 70 million queries over a 14 day period, our study both deepens the understanding of existing problems"},
               :properties {:color "yellow"}}
              {:id #uuid "64d9fc35-eb9b-4e6a-b44b-c1950ca1a9ba",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 446,
                                     :x2 749.295166015625,
                                     :y2 1220.171875,
                                     :width 1550.3999999999999,
                                     :height 2006.3999999999999},
                          :rects ({:x1 0,
                                   :y1 446,
                                   :x2 0,
                                   :y2 466,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}
                                  {:x1 0,
                                   :y1 462,
                                   :x2 0,
                                   :y2 482,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}
                                  {:x1 0,
                                   :y1 478,
                                   :x2 0,
                                   :y2 498,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}
                                  {:x1 589.4339599609375,
                                   :y1 1101.3125,
                                   :x2 746.0150756835938,
                                   :y2 1129.3125,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}
                                  {:x1 136.796875,
                                   :y1 1131.609375,
                                   :x2 749.295166015625,
                                   :y2 1159.609375,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}
                                  {:x1 136.796875,
                                   :y1 1161.890625,
                                   :x2 745.9956665039062,
                                   :y2 1189.890625,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}
                                  {:x1 136.796875,
                                   :y1 1192.171875,
                                   :x2 323.8944396972656,
                                   :y2 1220.171875,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}),
                          :page 2},
               :content {:text " highlights new research challenges along a multitude of dimensions including design of storage systems and high-performance query execution engines."},
               :properties {:color "yellow"}}
              {:id #uuid "64d9fc82-e198-4f8f-ba35-ea895f8452a6",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 526,
                                     :x2 745.0938110351562,
                                     :y2 1384.15625,
                                     :width 1550.3999999999999,
                                     :height 2006.3999999999999},
                          :rects ({:x1 0,
                                   :y1 526,
                                   :x2 0,
                                   :y2 546,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}
                                  {:x1 0,
                                   :y1 542,
                                   :x2 0,
                                   :y2 562,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}
                                  {:x1 136.796875,
                                   :y1 1295.578125,
                                   :x2 745.0938110351562,
                                   :y2 1323.578125,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}
                                  {:x1 136.796875,
                                   :y1 1325.859375,
                                   :x2 745.0924682617188,
                                   :y2 1353.859375,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}
                                  {:x1 136.796875,
                                   :y1 1356.15625,
                                   :x2 218.0621337890625,
                                   :y2 1384.15625,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}),
                          :page 2},
               :content {:text "Shared-nothing architectures have been the foundation of traditional query execution engines and data warehousing systems"},
               :properties {:color "yellow"}}
              {:id #uuid "64d9fc84-c84e-49bc-8739-eade7103c623",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 654,
                                     :x2 745.1196899414062,
                                     :y2 1596.15625,
                                     :width 1550.3999999999999,
                                     :height 2006.3999999999999},
                          :rects ({:x1 0,
                                   :y1 654,
                                   :x2 0,
                                   :y2 674,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}
                                  {:x1 283.5622863769531,
                                   :y1 1537.875,
                                   :x2 745.1196899414062,
                                   :y2 1565.875,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}
                                  {:x1 136.796875,
                                   :y1 1568.15625,
                                   :x2 426.7462158203125,
                                   :y2 1596.15625,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}),
                          :page 2},
               :content {:text "However, these benefits come at the cost of several major disadvantages:"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
